@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

:root {
  position: relative;
  font-family:Helvetica, Inter, system-ui,sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: #fff ;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body{
  overflow-x: hidden;
  position: relative;
}

h2, h3, .semiTitle{
  font-family: 'Bebas Neue', Inter;
}

p{
  line-height: 1.8;
}

li{
  margin: 1rem 0;
}


.catalogue-scrooll::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
}



.catalogue-scrooll::-webkit-scrollbar-thumb {
  background-color: gray;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

